<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit platform</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="name" value="{{platform.name}}" />
        </p>
        <p>
            <label>Введите сайт</label><br>
            <input type="text" name="site" value="{{platform.site}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>