{% load static %}
<h2>Назад в будущее (1985)</h2>
<img src="{% static "pic1.jpg" %}" alt= width="204" height="295">
<p>
Подросток Марти Макфлай с помощью машины времени, сооружённой его другом-профессором доком Брауном, попадает из 80-х в далекие 50-е. Там он встречается со своими будущими родителями, ещё подростками, и другом-профессором, совсем молодым.
<br>
</p>
<a href="https://ru.wikipedia.org/wiki/Назад_в_будущее_(фильм)">Подробнее</a>
<br>
<a href="{% url 'main_url' %}">Назад</a>