{% load static %}
<h2>Назад в будущее 2 (1989)</h2>
<img src="{% static "pic2.jpg" %}" alt= width="207" height="295">
<p>
Продолжение фантастической истории о приключениях американского подростка во времени. На этот раз с помощью модернизированной Доком машины времени Марти из 80-х попадает в будущее. Дети Марти в беде, и их надо выручать. Приходится повозиться со злодеем...
<br>
</p>
<a href="https://ru.wikipedia.org/wiki/Назад_в_будущее_2">Подробнее</a>
<br>
<a href="{% url 'main_url' %}">Назад</a>