{% load static %}
<h2>Назад в будущее 3 (1990)</h2>
<img src="{% static "pic3.jpg" %}" alt= width="202" height="295">
<p>
Несмотря на просьбы Дока не навещать его в XIX веке, Марти вновь хочет вмешаться в ход событий и на машине времени уносится в 1885 год, навстречу Дикому Западу. Это путешествие, как и все прежние, не обходится без опасных приключений, но смелый Марти, рискуя жизнью, предотвращает трагедию в жизни Эммета Брауна. Тот, в свою очередь, без памяти влюбляется в очаровательную незнакомку, которую спасает от гибели, и поездка домой — в будущее — теряет для него всякий смысл.
<br>
</p>
<a href="https://ru.wikipedia.org/wiki/Назад_в_будущее_3">Подробнее</a>
<br>
<a href="{% url 'main_url' %}">Назад</a>