{% load static %}
<h2>Схема V-образного ДВС</h2>
<img src="{% static "enginev.jpg" %}" alt= width="449" height="193">
<p>
V-образная схема двигателя — схема расположения цилиндров поршневого двигателя внутреннего сгорания, при которой цилиндры размещаются друг напротив друга под углом от 10° до 120° (наиболее часто 45°, 60° и 90°) в форме латинской буквы «V».
<br>
</p>
<a href="https://ru.wikipedia.org/wiki/V-образный_двигатель">Подробнее</a>
<br>
<a href="{% url 'main_url' %}">Назад</a>