{% load static %}
<h2>Схема оппозитного ДВС</h2>
<img src="{% static "engineo.jpg" %}" alt= width="449" height="133">
<p>
Оппозитный двигатель — поршневой двигатель внутреннего сгорания, в котором угол между рядами цилиндров составляет 180 градусов, а противостоящие поршни двигаются зеркально по отношению друг к другу (одновременно достигают верхней мёртвой точки).
<br>
</p>
<a href="https://ru.wikipedia.org/wiki/Оппозитный_двигатель">Подробнее</a>
<br>
<a href="{% url 'main_url' %}">Назад</a>